.mainlogin{
    display: flex;
    justify-content: start;
   margin-left: 150px;
   
   
   
}
.container{
    background-color:white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: auto;
    
    margin-top: 200px;
    padding-bottom: 30px;
    margin: 50px;
    
}
body{
    background-color: #F2EFE4;
    
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}
.names{
    text-align: left;
    margin: -2% 10%;
}
 .confirmpassword{
    text-align: left;
    margin: -5% 10%;
}
.password, .email{
    text-align: left;
    margin: -5% 10%;
}
.user{
    text-align: left;
    margin: -5% 10%;
}


.username{
    text-align: left;
    margin: -2% 10%;
}
.text{
    color: black;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
}
.inputs{
    /* margin-top: 5px; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    

}
.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    
    border-radius: 6px;
}
.input input{
    
    width: 400px;
    height: 40px;
    margin: 50px;
    border-radius: 5px;
}
.forgot-password{
    padding-left: 62px;
    margin-top: 27px;
    color: #797979;
    font-size: 18px;
}
.forgot-password span{
    color: #4c00b4;
    cursor: pointer;
}
.submit-container{
    margin: 60px auto;
}

.btn{
    background-color: #4D2D4A;
    color: white;
    padding-left: 40px;
    padding-right: 40px;
    align-items: center;
    border-radius: 50px;
}
.btn1{
    background-color: #4D2D4A;
    color: white;
    padding-left: 60px;
    padding-right: 60px;
    align-items: center;
    border-radius: 50px;

}
button{
    margin: 0 40%;
}
.newimage{
    width: 500px;
    height: 530px;
    
    background-color: #4D2D4A;
    background-image: url(/loginform/src/Components/Assets/divimage.jpeg);
    margin-top: 50px;
    margin-left: -50px;
}
.newimage h1, p{
    color: white;
    text-align: center;
}
p{
    font-size: 15px;
}
.newdiv{
    width: 500px;
    height: 778px;
    
    background-color: #4D2D4A;
    background-image: url(/loginform/src/Components/Assets/divimage.jpeg);
    margin-top: 50px;
    margin-left: -50px;

}
.newdiv h1, p{
    color: white;
    text-align: center;
}

div .loginlink{
    margin: 5px 10px;
    color: black;
    border: 2px solid #88167D;
    width: 100%;
    border-radius: 5px;
    padding: 0 5px;
    height: 70%;
    /* background-color: rgb(0, 0, 0); */
    font-size: 15px;
    
    
}
div .signuplink{
    color: black;
    border: 2px solid #88167D;
    width: 100%;
    margin: -5% 50%;
    border-radius: 5px;
    padding: 0 5px;
    height: 70%;
    /* background-color: black; */
    font-size: 15px;
    

}

.loginsignup{
    display: flex;
    justify-content: space-around;
}
@media(max-width: 1000px){
    .loginsignup{
        /* flex-direction: column; */

    }

}
.signuplink:hover{
    background-color: transparent;
    color: black;
}
.loginlink:hover{
    background-color: transparent;
    color: black;
}




